@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("./modules/general.css");
@import url("./modules/header.css");
@import url("./modules/about-us.css");
@import url("./modules/we-change.css");
@import url("./modules/services.css");
@import url("./modules/team.css");
@import url("./modules/reviews.css");
@import url("./modules/feedback.css");
@import url("./modules/products.css");
@import url("./modules/brands.css");
@import url("./modules/featured-on.css");
@import url("./modules/articles.css");
@import url("./modules/buy-this-theme.css");
@import url("./modules/photos.css");
@import url("./modules/subscribe.css");
@import url("./modules/footer.css");

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */






