.about-us-section {
    margin-top: 150px;
    padding-bottom: 124px;
}

.about-us-desc {
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f48e0b;
}

.nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.nav-items-text {
    margin-right: 70px;
}

.nav-items-text a {
    text-decoration: none;
    color: #3d3d3d;
    text-transform: uppercase;
    transition: 0.6s;
}

.nav-items a:hover {
    color: #F1B128;
}

.nav-items-text a.selected {
    color: #f1ad1d;
}

.section-main-img {
    margin-top: 57px;
}

.projects-wrapper {
    display: flex;
}

.projects-links {
    display: flex;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.projects-links,
.projects-content {
    width: 50%;
    text-align: left;
}

.projects-link img {
    object-fit: cover;
}

.projects-title {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 22px;
    margin-top: 0;
}

.projects-description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}

.projects-link {
    width: 270px;
    height: 148px;
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
}

.image-badge {
    width: 117px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #333333;
    color: white;
    font-size: 14px;
}

.projects-link-title {
    position: absolute;
    font-size: 14px;
    left: 15px;
    bottom: 11px;
    font-family: 'Lato', sans-serif;
}

.projects-button {
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .projects-wrapper {
        flex-direction: column;
    }
    .projects-links,
    .projects-content {
        width: 100%;
    }
    .nav-items-text {
        margin-right: 50px;
    }
}

@media (max-width: 992px) {
    .nav-items {
        display: none;
    }
}