.article-item-title:before {
    content: '';
    width: 39px;
    height: 35px;
    background-color: black;
    display: inline-block;
    margin-right: 8px;
}
.article-item-link {
    text-decoration: none;
}
.article-item {
    width: 370px;
    margin-bottom: 31px;
    position: relative;
}
.article-item-title {
    color: #333333;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 19px;
    text-align: left;
    display: flex;
    align-items: center;

}
.article-item-description {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(80, 80, 80, 1);
    padding-bottom: 14px;
    border-bottom: 1px solid #C1C1C1;
    text-align: left;
    color: #505050;
}
.article-items-column {
    display: flex;
    flex-direction: column;
}
.article-items-main {
    display: flex;
    justify-content: space-between;
}
.article-item-meta {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #828282;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 5px;
    border-bottom: 3px solid #333333;
}

.article-button {
    margin-top: 109px;
    margin-bottom: 109px;
    width: 235px;
}

.svg-inline--fa{
    width: 16px;
    height: 13px;
    color: #F48E0B;
    position: absolute;
    bottom: 135px;
    left: 11px;
}