.buy-this-theme {
    background-image: url("../../img/bg/tree-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 95px;
    padding-bottom: 91px;
}

.button-secondary {
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    padding: 16px 54px;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /*opacity: 0.1;*/
    background-color: transparent;
}