.section-featured-on-bg {
    position: relative;
    background-image: url("../../img/bg/header-background.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 475px;
    background-attachment: fixed;
}

.section-featured-on-bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.featured-on-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.featured-on-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.featured-on-items img {
    width: 207px;
}