.feedback-container {
    display: flex;
    justify-content: space-between;
}

.feedback {
    padding-bottom: 141px;
}

.feedback-form-wrapper {
    width: 574px;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
}

.feedback-form-title {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 24px 17px;
    font-weight: bold;
    background: #333333;
    width: 383px;
}

.feedback-form-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    text-align-last: left;
    margin-bottom: 20px;
}

.feedback-form-input {
    width: 274px;
    padding-left: 14px;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.feedback-textarea {
    resize: none;
    padding: 15px;
    outline: none;
}

.butoon-form {
    margin-top: 21px;
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.feedback-form-contacts-list {
    text-align: left;
    margin-bottom: 132px;
}

.feedback-form-contacts-list li {
    list-style-type: none;
    margin-bottom: 16px;
}

.feedback-form-contacts-list a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
}

.feedback-form-contacts-list i {
    color: #F48E0B;
    width: 35px;
    height: 35px;
    background-color: #333333;
    font-size: 13px;
    line-height: 35px;
    margin-right: 11px;
    text-align: center;
}

.feedback-form-socials {
    display: flex;
    margin-top: 30px;
}

.feedback-form-socials li {
    list-style: none;
}

.feedback-form-socials i {
    width: 42px;
    height: 42px;
    background-color: #F1AD1D;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 42px;
    margin-right: 13px;
    transition: background-color 0.6s;
}

.feedback-form-socials i:hover {
    background-color: rgba(241, 174, 29, 0.7);
}