.footer-title {
    width: 100%;
    text-align: center;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    padding-top: 36px;
    padding-bottom: 36px;
}