body, ul {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section {
    text-align: center;
}

.item-separator::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 196px;
    left: 103px;
    width: 60px;
    height: 3px;
    background: #F48E0B;
}

.separating-line:after {
    content: '';
    display: block;
    margin: 59px auto 56px;
    width: 62px;
    height: 5px;
    background-color: #F48E0B;
}

.section-main {
    margin-top: 103px;
}

.title-main {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.header-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: white;
}

.mt-24 {
    margin-top: 24px;
}

.text-small {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #505050;
    font-family: 'Lato', sans-serif;
}

.text-regular {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.button {
    background-color: #f1ad1d;
    border: none;
    padding: 19px 27px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Lato', sans-serif;
    transition: 0.6s;
}

.button:hover {
    background-color: rgba(241, 174, 29, 0.7);
}

.separator-pseudo::after {
    content: '';
    display: block;
    margin: 59px auto 56px;
    width: 190px;
    height: 5px;
    background-color: #F48E0B;
}

.title-highlighted {
    color: #f1ad1d;
}

.title-white {
    color: #FFFFFF;
}