.main-header {
    background-image: url("../../img/bg/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.main-header-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #fff;
    text-transform: uppercase;
}

.main-header-content p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.main-header-slogan {
    display: flex;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-header-slogan-main-part {
    padding: 38px 20px 38px 31px;
    color: #f48e0b;
    font-weight: bold;
    border-right: 1px solid #f48e0b;
}

.main-header-slogan-secondary-part {
    padding: 38px 20px 38px 31px;
    color: white;
    font-weight: 700;
}