.photos {
    padding-top: 107px;
    padding-bottom: 77px;
}

.photos-list-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 109px;
}

.photos-list-items button {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #111111;
    background-color: transparent;
    padding: 14px 40px;
    margin-right: 14px;
    transition: all 0.6s;
}

.photos-list-items li:last-child button {
    margin-right: 0;
}

.photos-list-items button.selected,
.photos-list-items button:hover{
    background-color: #333333;
    color: #F1AD1D;
    cursor: pointer;
}

.photo-items-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat (3, 1fr );
    gap: 14px;
    margin-top: 44px !important;
}

.photo-item {
    width: 284px;
    height: 274px;
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
}

.photo-item-title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #111111;
}

.photo-item-title::after {
    margin-top: 25px;
    margin-bottom: 28px;
}

.photo-item-description {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5B5B5B;
}

.photo-item-details {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.photo-item:hover .photo-item-details {
    opacity: 1;
}

.photo-item:hover {
    border: 2px solid #333333;
}

.photo-item-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}