.products {
    background-image: url(../../img/bg/bg3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    padding-top: 118px;
    padding-bottom: 172px;
}

.products-content {
    width: 603px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}