.section-reviews {
  padding-top: 154px;
  padding-bottom: 264px;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
}

.review-item {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  align-items: flex-end;
}

.review-item-text:before {
  content: '';
  position: absolute;
  display: block;
  width: 305px;
  height: 3px;
  background-color: #F1AD1D;
  top: -32px;
  left: 57px;
}

.review-item-separator {
  width: 305px;
  height: 3px;
  background: #f1ad1d;
}

.review-item-text {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 50px;
  font-family: 'Lato', sans-serif;
}

.review-svg {
  padding-bottom: 16px;
}

.review-item-person {
  display: grid;
  font-size: 14px;
  line-height: 20px;
  color: #5b5b5b;

  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "person-image review-item-person-name"
    "person-image person-position";
}

.person-image {
  grid-area: person-image;
}

.person-position {
  grid-area: person-position;
  margin: 0;
  align-self: end;
}

.review-item-person-name {
  grid-area: review-item-person-name;
  margin: 0;
  align-self: end;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #313131;
}
