.services-section {
  margin-top: 53px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 38px;
}

.service_item-services-section {
  border-bottom: 3px solid #333333;
  position: relative;
  margin-bottom: 194px;
}

.service_item-services-section h3 {
  height: 56px;
  line-height: 56px;
  background-color: rgba(51, 51, 51, 1);
  color: #fff;
}

.service_item_icon-services-section {
  margin: 30px auto 31px;
}

.service_info-services-section {
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
}

.services-section__our_offers {
  margin-top: 57px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #505050;
}

.services-section__list_of_offers {
  margin-bottom: 41px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-section__list_of_offers li {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #505050;
}
