.subscribe-form {
    display: flex;
    height: 67px;
    width: 773px;
    margin: 0 auto;
    margin-bottom: 178px;
}

.text-input {
    width: 100%;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    padding: 25px 32px; 
}

.text-input:focus {
  outline: none;
}

.text-input::-webkit-input-placeholder { 
    color: #747474;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
  }

.text-input::-moz-placeholder { /* Firefox 19+ */
    color: #747474;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
  }

.text-input:-ms-input-placeholder { /* IE 10+ */
    color: #747474;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
  }

.text-input:-moz-placeholder { /* Firefox 18- */
    color: #747474;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
  }

 