.team-item {
    width: 197px;
    height: 178px;
    border: 1px solid white;
    position: relative;
  }
  
  .team-item-title {
    position: absolute;
    left: 12px;
    bottom: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .team-item-title span{
    color: #f48e0b;
  }
  
  .team-item img {
    object-fit: cover;
    width: 100%;
  }
  
  .team-members-list {
    margin-top: 53px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .team-section-description {
    margin-bottom: 55px;
  }
  
  .team-section {
    padding-bottom: 207px;
  }