.we-change-section {
    background-image: url(../../img/bg/we-change-section-bg.png);
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 116px;
  
  }
  
  .we-change-title {
    color: white;
    margin-bottom: 59px;
  }